<div class="container d-flex align-items-center justify-content-center bg-dark flex-column" style="height: 80vh; width: 20vw; border: solid 2px yellow;">
    <h2 class="text-white">CHAT</h2>
    <div class="card-body">
        <p *ngFor="let mensaje of mensajes" class="text-white">
            {{mensaje}}
        </p>
    </div>
    <div class="d-flex flex-row">
        <input type="text" class="form-control" placeholder="Escribe un mensaje..." [(ngModel)]="nuevoMensaje">
        <input type="button" value="Enviar" (click)="EnviarMensaje()">
    </div>
</div>