<div class="container d-flex align-items-start justify-content-center bg-dark flex-column" style="height: 80vh; width: 400px; border: solid 2px yellow;">
    <h2 class="text-white m-2">CHAT</h2>
    <div id="mensajes-container" class="card-body h-100 mensajes bg-dark">
        <p *ngFor="let mensaje of mensajes" class="text-white">
            {{mensaje}}
        </p>
    </div>
    <div class="d-flex flex-row m-2">
        <input type="text" class="form-control" placeholder="Escribe un mensaje..." [(ngModel)]="nuevoMensaje">
        <input type="button" value="Enviar" (click)="EnviarMensaje()">
    </div>
</div>