<div class="bg-image" style="background-image: url('../../../assets/img/Gaming-bg.jpg'); width:100vw; height: 100vh;">
    <nav class="navbar navbar-dark bg-dark bg-gradient">
        <div class="mx-4">
            <img src="../../../assets/img/joystick.png" alt="joystick" style="width:75px; height: 75px;">
        </div>
        <h2 class="font-weight-bold text-white">Bienvenido a la Sala de Juegos</h2>
        <input type="button" class="bg-success border border-dark border-3 m-3 p-2 rounded" value="{{btnLabel}}" (click)="btnClick()">
    </nav>
    <div class="d-flex container justify-content-center align-items-center">
        <div class="p-3">
            <h3 class="text-white">Datos del Alumno:</h3><br>
            <p class="text-white">Apellido: Pavlov</p>
            <p class="text-white">Nombre: Valeriy</p>
            <p class="text-white">DNI: 18895771</p>
            <p class="text-white">Email: valeriypavlov44@gmail.com</p>
            <p class="text-white">Materia: Laboratorio de Computacion IV</p>
            <p class="text-white">Division: B</p>
            <p class="text-white">Juego propio: a definir</p>
        </div>
        <img src="../../../assets/img/alumno.png" alt="alumno" class="h-25 w-25">
    </div>
</div>
